USE [master]
GO
/****** Object:  Database [DocCare]    Script Date: 31/10/2024 22:03:04 ******/
CREATE DATABASE [DocCare]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DocCare', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\DocCare.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DocCare_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\DocCare_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DocCare].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DocCare]
GO
USE [DocCare]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 31/10/2024 22:03:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [nvarchar](255) NOT NULL,
	[Username] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Role] [int] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 31/10/2024 22:03:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[BlogId] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Image] [varchar](300) NULL,
	[ShortDescription] [nvarchar](200) NULL,
	[Content] [nvarchar](2000) NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 31/10/2024 22:03:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ContactId] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetailDoctor]    Script Date: 31/10/2024 22:03:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailDoctor](
	[DetailId] [nvarchar](255) NOT NULL,
	[DId] [nvarchar](255) NULL,
	[Title] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[DetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetailSpecialty]    Script Date: 31/10/2024 22:03:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailSpecialty](
	[DetailId] [nvarchar](50) NOT NULL,
	[SpecialtyId] [nvarchar](255) NULL,
	[Title] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[DetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 31/10/2024 22:03:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[DId] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[DoctorImg] [nvarchar](max) NULL,
	[Position] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Gender] [nvarchar](50) NULL,
	[DOB] [date] NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [float] NULL,
	[SpecialtyId] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[DId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 31/10/2024 22:03:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackId] [nvarchar](255) NOT NULL,
	[DId] [nvarchar](255) NULL,
	[PId] [nvarchar](255) NULL,
	[Name] [nvarchar](max) NULL,
	[DateCmt] [datetime] NULL,
	[Star] [int] NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HealthRecord]    Script Date: 31/10/2024 22:03:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthRecord](
	[RecordId] [nvarchar](255) NOT NULL,
	[PId] [nvarchar](255) NULL,
	[DId] [nvarchar](255) NULL,
	[OId] [nvarchar](255) NULL,
	[Diagnosis] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[DateExam] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RecordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Option]    Script Date: 31/10/2024 22:03:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Option](
	[OptionId] [nvarchar](255) NOT NULL,
	[DId] [nvarchar](255) NULL,
	[Status] [nvarchar](50) NULL,
	[DateWork] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 31/10/2024 22:03:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OId] [nvarchar](255) NOT NULL,
	[PId] [nvarchar](255) NULL,
	[OptionId] [nvarchar](255) NULL,
	[Status] [nvarchar](max) NULL,
	[DateOrder] [datetime] NULL,
	[Symptom] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[OId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 31/10/2024 22:03:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[PId] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[PatientImg] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Gender] [nvarchar](50) NULL,
	[DOB] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[PId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 31/10/2024 22:03:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PayId] [nvarchar](255) NOT NULL,
	[OId] [nvarchar](255) NULL,
	[Method] [nvarchar](max) NULL,
	[PayImg] [nvarchar](max) NULL,
	[DatePay] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specialty]    Script Date: 31/10/2024 22:03:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialty](
	[SpecialtyId] [nvarchar](255) NOT NULL,
	[SpecialtyName] [nvarchar](max) NULL,
	[SpecialtyImg] [nvarchar](max) NULL,
	[ShortDescription] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[SpecialtyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 31/10/2024 22:03:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffId] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[StaffImg] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Gender] [nvarchar](50) NULL,
	[DOB] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Account] ([Id], [Username], [Password], [Email], [Role], [Status]) VALUES (N'56cca883-2460-4a73-96c2-482603f1aa56', N'minhquang123', N'$2a$11$D7imu177a/S4tSYpIvk.5OnOYdve2e9aiUQ.jTDEqdZypqxf9dssO', N'minhquangpro300@gmail.com', 1, 1)
INSERT [dbo].[Account] ([Id], [Username], [Password], [Email], [Role], [Status]) VALUES (N'a0', N'admin', N'$2a$11$p17XGyqY0XaZUvHewFO08OVs1KEkg.vExGqJPRgbRA6GpR1BYtsHC', N'baoptde180439@fpt.edu.vn', 0, 1)
INSERT [dbo].[Account] ([Id], [Username], [Password], [Email], [Role], [Status]) VALUES (N'a1', N'baodoctor', N'$2a$11$p17XGyqY0XaZUvHewFO08OVs1KEkg.vExGqJPRgbRA6GpR1BYtsHC', N'baook43210@gmail.com', 2, 1)
GO
INSERT [dbo].[Contact] ([ContactId], [Name], [Email], [Title], [Description], [Status]) VALUES (N'1932d5f7-efa5-4385-b2b8-fbc5a863dcdb', N'Bảo', N'bao@gmail.com', N'Test bảo', N'Đau đầu', N'Resolved')
INSERT [dbo].[Contact] ([ContactId], [Name], [Email], [Title], [Description], [Status]) VALUES (N'c0d9a574-4655-4209-8ed1-c2b58022a5c7', N'bao', N'cuong@gmail.com', N'tiiiiiit', N'baobadao22222222222222222', N'resolved')
INSERT [dbo].[Contact] ([ContactId], [Name], [Email], [Title], [Description], [Status]) VALUES (N'e293f2f5-2b9a-450b-aaac-1cd67c0f07fc', N'baoba', N'bao@gmail.com', N'tttttttuuuuuuuuuuuu', N'uuuuuuuuuuuuttttttttttttttttttt', N'resolved')
GO
INSERT [dbo].[DetailDoctor] ([DetailId], [DId], [Title], [Content]) VALUES (N'd100', N'a13', N'Khám và điều trị', N'Bệnh Parkinson, Đau thần kinh, Động kinh, Và nhiều bệnh lý chuyên sâu khác khoa thần kinh')
INSERT [dbo].[DetailDoctor] ([DetailId], [DId], [Title], [Content]) VALUES (N'd1001', N'a116', N'Bác sĩ Chuyên khoa II Lê Hồng Anh', N'Hơn 20 năm kinh nghiệm trong lĩnh vực Phổi và Lao, Từng công tác nhiều năm tại Bệnh viện Phạm Ngọc Thạch, Giám đốc chuyên môn tại Phòng khám Chuyên khoa Quốc tế Phổi Sài Gòn, BÁC SĨ NHẬN KHÁM BỆNH NHÂN TỪ 16 TUỔI TRỞ LÊN')
INSERT [dbo].[DetailDoctor] ([DetailId], [DId], [Title], [Content]) VALUES (N'd1002', N'a116', N'Khám và điều trị', N'Lao kháng thuốc, Hen, COPD')
GO
INSERT [dbo].[DetailSpecialty] ([DetailId], [SpecialtyId], [Title], [Content]) VALUES (N'deS10', N's4', N'Các bệnh về Tai Mũi Họng', N'- Ù tai, đau tai, chảy máu tai  - Thủng màng nhĩ, điếc đột ngột - Viêm tai giữa - Amidan, V.A - Viêm xoang D13- Nghẹt mũi - Hay bị chảy máu cam - Đau cổ họng, khó nuốt - Ho kéo dài - Ngủ ngáy-…')
GO
INSERT [dbo].[Doctor] ([DId], [Name], [DoctorImg], [Position], [Phone], [Gender], [DOB], [Description], [Price], [SpecialtyId]) VALUES (N'a1', N'Lê Quốc Việt', N'https://cdn.bookingcare.vn/fo/w256/2021/05/20/141836-bs-le-quoc-viet.png', N'Tiến sĩ', N'090123451', NULL, CAST(N'1980-01-01' AS Date), N'Hơn 30 năm kinh nghiệm khám và điều trị các bệnh nội cơ xương khớp và 40 năm kinh nghiệm khám Nội tổng quát
Nguyên Phó Giám đốc Bệnh viện E
Bác sĩ nhận khám bệnh nhân từ 4 tuổi trở lên', 250, N's1')
INSERT [dbo].[Doctor] ([DId], [Name], [DoctorImg], [Position], [Phone], [Gender], [DOB], [Description], [Price], [SpecialtyId]) VALUES (N'a10', N'Nguyễn Thị Như Ý', N'https://cdn.bookingcare.vn/fo/w256/2018/09/05/091247thac-si-bac-si-truong-thi-nhu-y.jpg', N'Tiến sĩ', N'0901234510', N'Female', CAST(N'1980-01-01' AS Date), N'Hiện đang là Giám Đốc Trung tâm Khám chữa bệnh thêo yêu cầu và quốc tế, Bệnh viện Lão khoa Trung ương
Nhiều năm kinh nghiệm trong khám và điều trị các bệnh lý Cơ xương khớp 
Bác sĩ nhận khám bệnh nhân từ 18 tuổi trở lên', 500, N's1')
INSERT [dbo].[Doctor] ([DId], [Name], [DoctorImg], [Position], [Phone], [Gender], [DOB], [Description], [Price], [SpecialtyId]) VALUES (N'a101', N'Thị Phương Thanh', N'https://cdn.bookingcare.vn/fo/w256/2022/07/04/144133-bs-luu-thi-phuong-thanh-1.jpg', N'Tiến sĩ', N'09012345101', N'Male', CAST(N'1980-01-01' AS Date), N'Hơn 10 năm kinh nghiệm trong lĩnh vực Nhi khoa
Tốt nghiệp Bác sĩ Chuyên khoa I Nhi khoa - Đại học Y Hà Nội
Bác sĩ nhận khám từ 12 tuổi trở lên (Dưới 12 tuổi hỏi ý kiến bác sĩ)', 250, N's5')
GO
INSERT [dbo].[Feedback] ([FeedbackId], [DId], [PId], [Name], [DateCmt], [Star], [Description]) VALUES (N'f10', N'a3', N'a561', N'Nguyễn Trần Thùy Trang', CAST(N'2024-07-20T11:17:45.000' AS DateTime), 4, N'Bác sĩ khám tốt, nhân viên nhiệt tình. Mình khá hài lòng.')
INSERT [dbo].[Feedback] ([FeedbackId], [DId], [PId], [Name], [DateCmt], [Star], [Description]) VALUES (N'f100', N'a112', N'a392', N'Đoàn Thị Khánh Trâm', CAST(N'2023-05-13T04:30:50.000' AS DateTime), 5, N'tôi rất hài lòng')
INSERT [dbo].[Feedback] ([FeedbackId], [DId], [PId], [Name], [DateCmt], [Star], [Description]) VALUES (N'f101', N'a112', N'a517', N'Tạ Minh Tuấn', CAST(N'2023-05-13T12:37:39.000' AS DateTime), 3, N'Nhân viên nhiệt tình')
GO
INSERT [dbo].[HealthRecord] ([RecordId], [PId], [DId], [OId], [Diagnosis], [Description], [Note], [DateExam]) VALUES (N'hr1', N'a371', N'a1', NULL, N'Tăng huyết áp', N'Huyết áp thường xuyên trên 140/90 mmHg', N'Đề xuất thay đổi lối sống và dùng thuốc', CAST(N'2024-09-25T10:00:00.000' AS DateTime))
INSERT [dbo].[HealthRecord] ([RecordId], [PId], [DId], [OId], [Diagnosis], [Description], [Note], [DateExam]) VALUES (N'hr10', N'a380', N'a10', NULL, N'Cường giáp', N'Nồng độ hormone tuyến giáp tăng cao, sụt cân và tim đập nhanh', N'Bắt đầu điều trị bằng thuốc kháng giáp', CAST(N'2024-10-04T11:15:00.000' AS DateTime))
INSERT [dbo].[HealthRecord] ([RecordId], [PId], [DId], [OId], [Diagnosis], [Description], [Note], [DateExam]) VALUES (N'hr2', N'a372', N'a2', NULL, N'Cảm lạnh thông thường', N'Triệu chứng bao gồm sổ mũi, đau họng và ho', N'Khuyên nghỉ ngơi và dùng thuốc không kê đơn', CAST(N'2024-09-26T11:30:00.000' AS DateTime))
GO
INSERT [dbo].[Option] ([OptionId], [DId], [Status], [DateWork]) VALUES (N'bc5014a5-dfb8-4ca8-9bdd-3b4589cca161', N'a1', N'Busy', CAST(N'2024-11-07T15:00:00.000' AS DateTime))
INSERT [dbo].[Option] ([OptionId], [DId], [Status], [DateWork]) VALUES (N'opt1', N'a1', N'Confirm', CAST(N'2024-11-01T08:00:00.000' AS DateTime))
INSERT [dbo].[Option] ([OptionId], [DId], [Status], [DateWork]) VALUES (N'opt10', N'a10', N'Confirm', CAST(N'2024-11-06T15:00:00.000' AS DateTime))
GO
INSERT [dbo].[Order] ([OId], [PId], [OptionId], [Status], [DateOrder], [Symptom]) VALUES (N'ord1', N'a371', N'opt1', N'Completed', CAST(N'2024-09-25T09:00:00.000' AS DateTime), N'Đau đầu và mệt mỏi')
INSERT [dbo].[Order] ([OId], [PId], [OptionId], [Status], [DateOrder], [Symptom]) VALUES (N'ord10', N'a380', N'opt10', N'Completed', CAST(N'2024-10-04T09:15:00.000' AS DateTime), N'Nặng ngực và khó thở')
INSERT [dbo].[Order] ([OId], [PId], [OptionId], [Status], [DateOrder], [Symptom]) VALUES (N'ord1274873', N'a371', N'opt1274873', N'Confirm', CAST(N'2024-10-31T15:56:35.440' AS DateTime), N'rrrrrrrrrrrrrrrrrrr')
GO
INSERT [dbo].[Patient] ([PId], [Name], [PatientImg], [Phone], [Gender], [DOB]) VALUES (N'56cca883-2460-4a73-96c2-482603f1aa56', N'Quang', NULL, N'0987367341', N'Nam', CAST(N'2007-12-07' AS Date))
INSERT [dbo].[Patient] ([PId], [Name], [PatientImg], [Phone], [Gender], [DOB]) VALUES (N'a371', N'Phan Thanh Bảo', N'https://res.cloudinary.com/dvrysjjek/image/upload/v1730051674/br3tkzbvoravpjlpt7k9.jpg', N'0901234560', N'male', CAST(N'2004-03-07' AS Date))
INSERT [dbo].[Patient] ([PId], [Name], [PatientImg], [Phone], [Gender], [DOB]) VALUES (N'a372', N'Trần Minh Quang', N'https://i.pinimg.com/564x/7d/4a/e9/7d4ae9c0d99a7b169055d55258d694f3.jpg', N'0901234561', N'Male', CAST(N'1990-01-01' AS Date))
GO
INSERT [dbo].[Payment] ([PayId], [OId], [Method], [PayImg], [DatePay]) VALUES (N'pay1', N'ord1', N'Credit Card', NULL, CAST(N'2024-09-25T09:30:00.000' AS DateTime))
INSERT [dbo].[Payment] ([PayId], [OId], [Method], [PayImg], [DatePay]) VALUES (N'pay10', N'ord10', N'Credit Card', NULL, CAST(N'2024-10-04T09:30:00.000' AS DateTime))
INSERT [dbo].[Payment] ([PayId], [OId], [Method], [PayImg], [DatePay]) VALUES (N'pay1340285', N'ord6477445', N'MoMo', N'null', CAST(N'2024-10-30T21:30:39.577' AS DateTime))
GO
INSERT [dbo].[Specialty] ([SpecialtyId], [SpecialtyName], [SpecialtyImg], [ShortDescription]) VALUES (N's1', N'Cơ Xương Khớp', N'https://cdn.bookingcare.vn/fo/2023/12/26/101627-co-xuong-khop.png', N'Chuyên khoa điều trị các bệnh về cơ, xương, khớp')
INSERT [dbo].[Specialty] ([SpecialtyId], [SpecialtyName], [SpecialtyImg], [ShortDescription]) VALUES (N's10', N'Siêu âm thai', N'https://cdn.bookingcare.vn/fo/2023/12/26/101713-sieu-am-thai.png', N'Chuyên khoa siêu âm và chẩn đoán thai kỳ')
INSERT [dbo].[Specialty] ([SpecialtyId], [SpecialtyName], [SpecialtyImg], [ShortDescription]) VALUES (N's105', N'Niềng răng', N'https://cdn.bookingcare.vn/fo/2023/12/26/101655-nieng-rang.png', N'Dịch vụ niềng răng giúp chỉnh hình răng')
GO
INSERT [dbo].[Staff] ([StaffId], [Name], [StaffImg], [Phone], [Gender], [DOB]) VALUES (N'a373', N'Bảo Đẹp Trai', N'https://khoinguonsangtao.vn/wp-content/uploads/2022/02/anh-dai-dien-fb-dep.jpg', N'0987367341', N'Female', CAST(N'1990-01-01' AS Date))
GO
ALTER TABLE [dbo].[DetailDoctor]  WITH CHECK ADD FOREIGN KEY([DId])
REFERENCES [dbo].[Doctor] ([DId])
GO
ALTER TABLE [dbo].[DetailSpecialty]  WITH CHECK ADD FOREIGN KEY([SpecialtyId])
REFERENCES [dbo].[Specialty] ([SpecialtyId])
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD FOREIGN KEY([DId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD FOREIGN KEY([SpecialtyId])
REFERENCES [dbo].[Specialty] ([SpecialtyId])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([DId])
REFERENCES [dbo].[Doctor] ([DId])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([PId])
REFERENCES [dbo].[Patient] ([PId])
GO
ALTER TABLE [dbo].[HealthRecord]  WITH CHECK ADD FOREIGN KEY([DId])
REFERENCES [dbo].[Doctor] ([DId])
GO
ALTER TABLE [dbo].[HealthRecord]  WITH CHECK ADD FOREIGN KEY([OId])
REFERENCES [dbo].[Order] ([OId])
GO
ALTER TABLE [dbo].[HealthRecord]  WITH CHECK ADD FOREIGN KEY([PId])
REFERENCES [dbo].[Patient] ([PId])
GO
ALTER TABLE [dbo].[Option]  WITH CHECK ADD FOREIGN KEY([DId])
REFERENCES [dbo].[Doctor] ([DId])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([OptionId])
REFERENCES [dbo].[Option] ([OptionId])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([PId])
REFERENCES [dbo].[Patient] ([PId])
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD FOREIGN KEY([PId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([OId])
REFERENCES [dbo].[Order] ([OId])
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD FOREIGN KEY([StaffId])
REFERENCES [dbo].[Account] ([Id])
GO
USE [master]
GO
