
@{
    Layout = "_Layout";
    ViewData["Title"] = "Service List";
}

<section class="bg-half-170 bg-light d-table w-100">
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-12">
                <div class="section-title text-center">
                    <h3 class="sub-title mb-4">Service List</h3>
                    <p class="para-desc mx-auto text-muted">If you or your family members need medical assistance, book an appointment now.</p>
                    <nav aria-label="breadcrumb" class="d-inline-block mt-3">
                        <ul class="breadcrumb bg-transparent mb-0">
                            <li class="breadcrumb-item"><a href="home">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Service List</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="row" style="margin-top: 50px;margin-left: 50px  ">
    <div class="col-md-4 row">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            <div class="search-bar p-0 d-lg-block ms-2">
                <div id="search" class="menu-search mb-0">
                    <form action="#" method="POST" id="searchform" class="searchform">
                        <div>
                            <input type="text" class="form-control border rounded-pill" name="search" id="s" placeholder="Search service name...">
                            <input type="submit" id="searchsubmit" value="Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <form action="#" method="POST">
            <div class="justify-content-md-end row">
                <div class="col-md-6 row align-items-center">
                    <div class="col-md-2">
                        <label class="form-label">Sort</label>
                    </div>
                    <div class="col-md-10">
                        <select name="sort" class="form-select">
                            <option value="1">Name: Ascending</option>
                            <option value="2">Name: Descending</option>
                            <option value="3">Price: Low to High</option>
                            <option value="4">Price: High to Low</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-5 row align-items-center">
                    <div class="col-md-4">
                        <label class="form-label">Speciality</label>
                    </div>
                    <div class="col-md-8">
                        <select name="Speciality" class="form-select">
                            <option value="1">All Specialities</option>
                            <option value="2">Cardiology</option>
                            <option value="3">Dermatology</option>
                            <option value="4">Neurology</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-1 md-0">
                    <button type="submit" class="btn btn-primary">Filter</button>
                </div>
            </div>
        </form>
    </div>
</div>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-4 pt-2">
                <div class="card services-desc overflow-hidden rounded shadow">
                    <div class="position-relative">
                        <img src="~/assets/images/service/03.png" class="img-fluid" alt="">
                        <div class="overlay-work bg-dark"></div>
                        <div class="card-body">
                            <h5 class="text-light">General Health Check</h5>
                            <p class="text-light mb-0">Comprehensive body check-up to detect and treat early illnesses.</p>
                            <a asp-area="" asp-controller="Home" asp-action="ServiceDetail" class="text-light small">Details</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-4 pt-2">
                <div class="card services-desc overflow-hidden rounded shadow">
                    <div class="position-relative">
                        <img src="~/assets/images/service/03.png" class="img-fluid" alt="">
                        <div class="overlay-work bg-dark"></div>
                        <div class="card-body">
                            <h5 class="text-light">General Health Check</h5>
                            <p class="text-light mb-0">Comprehensive body check-up to detect and treat early illnesses.</p>
                            <a asp-area="" asp-controller="Home" asp-action="ServiceDetail" class="text-light small">Details</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-4 pt-2">
                <div class="card services-desc overflow-hidden rounded shadow">
                    <div class="position-relative">
                        <img src="~/assets/images/service/03.png" class="img-fluid" alt="">
                        <div class="overlay-work bg-dark"></div>
                        <div class="card-body">
                            <h5 class="text-light">General Health Check</h5>
                            <p class="text-light mb-0">Comprehensive body check-up to detect and treat early illnesses.</p>
                            <a asp-area="" asp-controller="Home" asp-action="ServiceDetail" class="text-light small">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mt-4 pt-2">
                <div class="card services-desc overflow-hidden rounded shadow">
                    <div class="position-relative">
                        <img src="~/assets/images/service/03.png" class="img-fluid" alt="">
                        <div class="overlay-work bg-dark"></div>
                        <div class="card-body">
                            <h5 class="text-light">General Health Check</h5>
                            <p class="text-light mb-0">Comprehensive body check-up to detect and treat early illnesses.</p>
                            <a asp-area="" asp-controller="Home" asp-action="ServiceDetail" class="text-light small">Details</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-4 pt-2">
                <div class="card services-desc overflow-hidden rounded shadow">
                    <div class="position-relative">
                        <img src="~/assets/images/service/03.png" class="img-fluid" alt="">
                        <div class="overlay-work bg-dark"></div>
                        <div class="card-body">
                            <h5 class="text-light">General Health Check</h5>
                            <p class="text-light mb-0">Comprehensive body check-up to detect and treat early illnesses.</p>
                            <a asp-area="" asp-controller="Home" asp-action="ServiceDetail" class="text-light small">Details</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-4 pt-2">
                <div class="card services-desc overflow-hidden rounded shadow">
                    <div class="position-relative">
                        <img src="~/assets/images/service/03.png" class="img-fluid" alt="">
                        <div class="overlay-work bg-dark"></div>
                        <div class="card-body">
                            <h5 class="text-light">General Health Check</h5>
                            <p class="text-light mb-0">Comprehensive body check-up to detect and treat early illnesses.</p>
                            <a asp-area="" asp-controller="Home" asp-action="ServiceDetail" class="text-light small">Details</a>
                        </div>
                    </div>
                </div>
            </div>


    <div class="row text-center">
        <div class="col-12 mt-4">
            <div class="d-md-flex align-items-center text-center justify-content-between">
                <ul class="pagination justify-content-center mb-0 mt-3 mt-sm-0">
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <!-- Repeat for additional pages -->
                </ul>
            </div>
        </div>
    </div>
        </div>
</section>
